__pycache__/
*.pyc
*.pyo
*.log
*.mp4
calib_result.jpg
.venv/
YOLO_OBB/
.pdf

# LaTeX build artifacts (latexmk/pdflatex)
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.bbl
*.bcf
*.blg
*.run.xml
